---
name: "Pipeline: Release"

on:
  release:
    types: [created]

env:
  DOCS_PAGES_ARTIFACT: tech-radar

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install Task
        uses: arduino/setup-task@v2.0.0
        with:
          version: 3.x
      - name: Run task to build radar
        run: |
          sleep 10s
          export TASK_X_REMOTE_TASKFILES=1
          task radar:build --yes
        shell: bash
      - name: List contents
        run: ls -alF radar/public
        shell: bash
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          name: ${{ env.DOCS_PAGES_ARTIFACT }}
          path: radar/public

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      pages: write
      id-token: write # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
        with:
          artifact_name: ${{ env.DOCS_PAGES_ARTIFACT }}
