---
name: "Pipeline: Release"

on:
  release:
    types: [created]

env:
  IMAGE_TAG_EDGE: ${{ vars.IMAGE_TAG_EDGE }}
  IMAGE_TAG_LATEST: ${{ vars.IMAGE_TAG_LATEST }}
  IMAGE_NAME: tech-radar
  REGISTRY: docker.io
  DOCS_PAGES_ARTIFACT: github-pages

jobs:

  create-upload-artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: List contents
        run: ls -alF radar/public
        shell: bash
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          name: ${{ env.DOCS_PAGES_ARTIFACT }}
          path: radar/public

  deploy:
    runs-on: ubuntu-latest
    needs: create-upload-artifact
    permissions:
      contents: read
      pages: write
      id-token: write # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
        with:
          artifact_name: ${{ env.DOCS_PAGES_ARTIFACT }}

  publish-release:
    runs-on: ubuntu-latest
    name: ${{ matrix.target-stage }}
    permissions:
      contents: read
    strategy:
      matrix:
        target-stage: ['run', 'yaml2json']
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Deploy to DockerHub
        env:
          DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          IMAGE_TAG_EDGE: ${{ env.IMAGE_TAG_EDGE }}
          IMAGE_TAG_LATEST: ${{ env.IMAGE_TAG_LATEST }}
        run: |
          if [ "${{ matrix.target-stage }}" == "run" ]; then
            SUFFIX=""
          else
            SUFFIX="-${{ matrix.target-stage }}"
          fi

          TAG="${GITHUB_REF#refs/tags/}"
          TAG="${TAG#v}"
          echo "[INFO] New version tag = $TAG$SUFFIX"

          SRC_IMAGE="$DOCKERHUB_USER/$IMAGE_NAME:$IMAGE_TAG_EDGE$SUFFIX"

          TARGET_IMAGE="$DOCKERHUB_USER/$IMAGE_NAME:$TAG$SUFFIX"
          docker buildx imagetools create --tag "$TARGET_IMAGE" "$SRC_IMAGE"

          TARGET_IMAGE="$DOCKERHUB_USER/$IMAGE_NAME:$IMAGE_TAG_LATEST$SUFFIX"
          docker buildx imagetools create --tag "$TARGET_IMAGE" "$SRC_IMAGE"
        shell: bash
      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USER }}/${{ env.IMAGE_NAME }}
          short-description: ${{ github.event.repository.description }}
          readme-filepath: README.md

  docker-scout:
    runs-on: ubuntu-latest
    name: ${{ matrix.target-stage }}
    needs: publish-release
    permissions:
      contents: read
      security-events: write
    strategy:
      matrix:
        target-stage: ['run', 'yaml2json']
    steps:
      # - name: Checkout code
      #   uses: actions/checkout@v4
      - name: Get current date
        id: date
        run: echo "job_date=$(date +%Y-%m-%d)" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Set image tag suffix
        id: tag-suffix
        run: |
          if [ "${{ matrix.target-stage }}" == "run" ]; then
            echo "suffix=" >> "$GITHUB_OUTPUT"
          else
            echo "suffix=-${{ matrix.target-stage }}" >> "$GITHUB_OUTPUT"
          fi
        shell: bash
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker Scout - CVE Scan
        uses: docker/scout-action@v1.18.2
        with:
          command: cves
          image: ${{ env.REGISTRY }}/${{ secrets.DOCKERHUB_USER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG_LATEST }}${{ steps.tag-suffix.outputs.suffix }}
          sarif-file: sarif-output.json
          summary: false
          organization: ${{ secrets.DOCKERHUB_USER }}
      - name: Upload SARIF result
        id: upload-sarif
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: sarif-output.json
          category: 'Docker Scout CVEs - ${{ secrets.DOCKERHUB_USER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG_LATEST }}${{ steps.tag-suffix.outputs.suffix }}'
          checkout_path: components/${{ env.IMAGE_NAME }}
